@import '../../index.scss';

.portfolio {
  margin-top: 60px;
  padding-top: 50px;
  // margin-bottom: -200px;
  background-color: $secondaryColor;
  // color: $primaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;

  h1 {
    font-size: 60px;

    @include mobile{
      font-size: 40px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style-type: none;
    display: flex;

    @include mobile{
      font-size: 10px;
    }

  }

  .container {
    // width: 70%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 30px;
  }

}