body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Global variables
$mainColor: #1c2635;
$mainFontColor: witesomoke;
$secondaryColor: #1d293b;

